.result {
  display: none;
  align-self: center;
}

.btn {
  margin-top: 20px;
}

.jumbotron {
  background-image: url(../img/syd.jpg);
  background-size: contain;
  color: white;
}
.images {
  border-width: thin;
  border-color: black;
  max-width: 50%;
  border-radius: 20px;
}
